.side-bar{
    background-color: var(--gray50);
    padding: 15px 8px;
}

.side-bar .side-links li {
    margin-bottom: 16px;
    padding: 3px;
}
.side-bar .side-links li a{
    display: flex;
    align-items: center;
}
.side-bar .side-links li a p{
    margin-left: 3px;
}
.side-bar .side-links li a.active{
    color: var(--mainColor400);
}
.side-bar .side-links li a:hover{
    color: var(--mainColor400);
    transition-duration: 300ms;
}
@media(max-width:420px){
    .side-bar .side-links li a{
        flex-direction: column;
    }
    .side-bar .side-links li a p{
        font-size: 10px;
    }
    .side-bar .side-links li a svg{
        font-size: 22px;
    }
}