
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root{
  --mainColor: rgb(59 130 246);
  --mainColor50: rgb(239 246 255);
  --mainColor100: rgb(219 234 254);
  --mainColor200: rgb(191 219 254);
  --mainColor300: rgb(147 197 253);
  --mainColor400: rgb(96 165 250);
  --mainColor600: rgb(37 99 235);
  --mainColor700: rgb(29 78 216);
  --secondColor: rgb(239 68 68);
  --secondColor400: rgb(248 113 113);
  --secondColor50: rgb(254 242 242);
  --secondColor100: rgb(254 226 226);
  --thirdColor: rgb(234 179 8);
  --thirdColor400: rgb(250 204 21);
  --thirdColor100: rgb(254 249 195);
  --fourthColor: rgb(16 185 129);
  --fourthColor100: rgb(209 250 229);;
  --gray50: rgb(250 250 250);
  --gray100: rgb(245 245 245);
  --gray200: rgb(229 229 229);
  --gray300: rgb(212 212 212);
  --gray400: rgb(163 163 163);
  --gray500: rgb(115 115 115);
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --toastify-color-error: rgba(254, 226, 226, 0.815);
  --toastify-text-color-error: #000;
  --toastify-color-success: rgba(191, 219, 254, 0.815);
  --toastify-text-color-success: #000;
}

body{
  margin: 0px;
  padding: 0px;  
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
h1,h2,h3,h4,h5,h6, p{
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: inherit;
}